*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color: rgba(0,0,0,0.7);
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}
.stopwatch{
    background-color: rgba(0,0,0,0.9);
    padding: 20px 24px;
    border-radius: 10px;
}
.timerdisplay{
    font-size: 100px;
    font-weight: 600;
}
button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.start{
    background-color: #4CAF50;
    color: white;
}

.stop{
    background-color: #f44336;
    color: white;
}

.reset{
    background-color: #2196F3;
    color: white;
}

